
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
    }
    body {
        background: linear-gradient(#e0ffe0, #c9f7c9);
        height: 100vh;
        overflow-x: hidden;
        position: relative;
    }
    .helper-button {
        position: absolute;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #40916c;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1001;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        transition: all 0.3s ease;
    }
    .helper-button:hover {
        background-color: #2d6a4f;
    }
    .sidebar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 320px;
        max-width: 90%;
        height: 100%;
        background-color: #1b4332;
        color: white;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 1000;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    .sidebar.active {
        right: 0;
    }
    .sidebar h2 {
        margin-bottom: 15px;
        text-align: left;
        color: #90ee90;
    }
    .sidebar ul {
        list-style: none;
    }
    .sidebar ul li {
        margin-bottom: 12px;
        font-size: 14px;
    }
    .close-button {
        text-align: right;
        width: fit-content;
        margin-bottom: 8px;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        align-self: flex-end;
        cursor: pointer;
        padding: 0;
    }
    .close-button:hover {
        color: #ee9090;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 90%;
        max-width: 500px;
        transition: all 0.3s ease;
    }
    .hidden {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -60%);
    }
    h1 {
        text-align: center;
        color: #2d6a4f;
        margin-bottom: 20px;
    }
    .habit {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        margin-bottom: 15px;
    }
    .habit input {
        margin-right: 10px;
    }
    button {
        background-color: #2d6a4f;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }
    button:hover {
        background-color: #1b4332;
    }
    .result, .loading {
        display: none;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 90%;
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .result h2 {
        color: #1b4332;
        margin-bottom: 20px;
    }
    .loading i {
        font-size: 50px;
        margin-bottom: 24px;
        color: #2d6a4f;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg);}
    }
    .result p {
        color: #1b4332;
        font-size: 18px;
    }


    .profile-sidebar {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-header {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 12px;
        margin-bottom: 15px;
    }

    .profile-image {
        width: 60px;
        height: 60px;
        background-image: url('./img/profile.jpg');
        background-size: contain;
        border-radius: 50%;
        border: 4px solid #90ee90;
    }

    .profile-title {
        font-size: 20px;
        color: #90ee90;
    }

    .profile-text {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 10px;
        text-align: left;
        line-height: 1.5rem;
    }

    @media (max-width: 500px) {
        .sidebar {
            width: 80%;
        }
    }

